@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.logo{
    position: fixed;
    top:40px;
    left:34px;
    width:70px;
    height: 70px;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../Resource/redirect1.jpg);
    width:100%;
    height:670px;
    top:10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    position: relative;
    color: white;
    left:115px;
    top:50px;
    font-weight: bold;
    font-size: 2.5em;
    }
h1{
    position: relative;
    top:10px;
    left:0px;
    font-size: 1.25em;
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Result1{
    position: relative;
    padding:50px;
    padding-top: 10px;
    padding-left: 100px;
    top:12%;
    left:7%;
    font-size: 1.1em;
    font-family: 'Merienda', cursive;
    background-color: rgba(17, 17, 17, 0.7);
    width:75%;
    height:50%;
    color: whitesmoke;
    border-radius: 80px 0 80px 0;
    border: 1px solid whitesmoke;
}
.continue{
    position: relative;
    left:42%;
    top:9%;   
}
#continue_btn{
    background:  #ffc107;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
}
#continue_btn:hover{
    background: rgb(154, 157, 160);
    color: #000;
}
.edit{

    position: relative;
    left:80%;
    bottom:48%;
    font-size: 1em;
}
#edit_btn{
    background:  #ffc107;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:80px;
    height: 25px;
    font-size: 1em;
}
#edit_btn:hover{
    background: rgb(154, 157, 160);
    color: #000;
}




