@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.logo{
    position: fixed;
    top:40px;
    left:34px;
    width:70px;
    height: 70px;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Resource/cover.jpg);
    width:100%;
    height:670px;
    top:10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1{
    font-size: 1.25em;
    text-align: center;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    position: relative;
    color: white;
    left:115px;
    top:50px;
    font-weight: bold;
    font-size: 2.5em;
    }
.Traveller{
    position: relative;
    padding: 40px;
    padding-top: 20px;
    max-width: 500px;
    left:28%;
    top:15%;
    background-color: rgba(12, 12, 12, 0.8);
    width:60%;
    height:50%;
    font-family:'Merienda', cursive;
    color: white;
    border-radius: 80px 0 80px 0;
    border: 1px solid whitesmoke;
    }
#formcontent{
    position: relative;
    align-content: center;
    left:50px;
    line-height: 50px;
}
label{
    width:200px;
    display: inline-block;
}
.Book{
    position: relative;
    left:34%;
    top:15%;   
}
#Bookbtn{
    background:  #ffc107;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
}
#Bookbtn:hover{
    background: rgb(40, 241, 22);
    color: #000;
}
#Result2{
    position: relative;
    padding:25px;
    padding-top: 10px;
    top:8%;
    left:3.5%;
    background-color: rgba(12, 12, 12, 0.8);
    width:90%;
    height:50%;
    font-size: 1.1em;
    font-family: 'Merienda', cursive;
    color: whitesmoke;
    border-radius: 80px 0 80px 0;
    border: 1px solid whitesmoke;
}
h2{
    font-size: 1.25em;
    text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    position: relative;
    right: 2%;
}
.Logout{
    position: relative;
    background:  #ffc107;
    opacity: 0.8;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
    left:80%;
    top:3%;
    text-align: center;
    border: 1px solid whitesmoke;
}
#Logoutbtn
{
    position: relative;
    text-decoration: none;
    top:10px;
    color: black;
}
.Logout:hover{
    background: rgb(154, 157, 160);
    color: #000;
}
.Download{
    position: relative;
    background:  #ffc107;
    opacity: 0.85;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
    left:33%;
    bottom: 10%;
    text-align: center;
    border: 1px solid whitesmoke;
}
#Downloadbtn
{
    position: relative;
    text-decoration: none;
    top:10px;
    color: black;
}
.Download:hover{
    background: rgb(154, 157, 160);
    color: #000;
}
#left{
    position: relative;
    width:70%;
}
.codelogo{
    position: relative;
    bottom:250px;
    left:80%;
    width:150px;
    height: 150px;
}
.Delete{
    position: relative;
    background:  #ffc107;
    opacity: 0.85;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
    left:51%;
    bottom: 16%;
    text-align: center;
    border: 1px solid whitesmoke;
}
#Deletebtn
{
    position: relative;
    text-decoration: none;
    top:10px;
    color: black;
}
.Delete:hover{
    background: rgb(211, 23, 23);
    color: rgb(248, 248, 248);
}
