@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");
.logo{
    position: fixed;
    top:40px;
    left:34px;
    width:70px;
    height: 70px;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(8, 8, 8, 0.5),rgba(0,0,0,0.5)),url(../Resource/index.jpg);
    width:100%;
    height:670px;
    top:10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
header{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
position: relative;
color: white;
left:115px;
top:50px;
font-weight: bold;
font-size: 2.5em;
}
h1{
    position: relative;
    top:0px;
    font-size: 1.3em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-submit{
    padding: 40px;
    padding-top: 20px;
    max-width: 500px;
    position: relative;
    left:28%;
    top:5%;
    background-color: rgba(12, 12, 12, 0.7);
    width:50%;
    height:50%;
    font-family:'Merienda', cursive;
    color: white;
    border-radius: 80px 0 80px 0;
}
.search{
    position: relative;
    left:32%;
    top:6%;   
}
#btn{
    background:  #ffc107;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
}
#btn:hover{
    background: rgb(154, 157, 160);
    color: #000;
}
label{
    width:200px;
    display: inline-block;
}
.tbtn{
    position: relative;
    background:   #ffc107;
    opacity: 0.9;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
    left:65%;
    text-align: center;
    border: 1px solid whitesmoke;
}
#trip_button
{
    position: relative;
    text-decoration: none;
    top:10px;
    color: black;
}
.tbtn:hover{
    background: rgb(154, 157, 160);
    color: #000;
}
.Logout{
    position: relative;
    background:  #ffc107;
    opacity: 0.9;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
    left:80%;
    bottom: 6%;
    text-align: center;
    border: 1px solid whitesmoke;
}
#Logoutbtn
{
    position: relative;
    text-decoration: none;
    top:10px;
    color: black;   
}
.Logout:hover{
    background: rgb(154, 157, 160);
    color: #000;
}
#message{
    position: relative;
    background-color: #ffc107;
    opacity: 0.8;
    width:15%;
    height:25%;
    right:86%;
    bottom: 86%;
    font-family:'Merienda', cursive;
    font-weight: bold;
    color:black;
    border-radius: 10px;
    padding: 20px;
    padding-top: 50px;
    border:1px solid whitesmoke;
    font-weight: bold;
}