.logo{
    position: relative;
    top:1px;
    left:34px;
    width:70px;
    height: 70px;
}
body{
    margin: 0;
    padding: 0;
    background: url(../Resource/login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: sans-serif;
    width:100%;
    height: 670px;;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    position: relative;
    color: white;
    left:115px;
    top:55px;
    font-weight: bold;
    font-size: 2.5em;
}
#rgstr_btn
{
    position: relative;
    top:20%;
}
.loginbox{
    width: 320px;
    height: 360px;
    background: rgb(14, 13, 13);
    opacity: 0.9;
    color: #fff;
    top: 60%;
    left: 85%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 70px 0 70px 0;border:1px solid whitesmoke;
}
.registerbox{
    width: 320px;
    height: 360px;
    background: rgb(14, 13, 13);
    opacity: 0.9;
    color: #fff;
    top: 60%;
    left: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 70px 0 70px 0;border:1px solid whitesmoke;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="submit"]
{
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    outline: none;
    width:150px;
    left:50px;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.btn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    font-family: sans-serif;
    width:150px;
    height: 40px;
    left:50px;
    background: #fb2525;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
}
#log{
    position: relative;
    top:30%;
}
.loginbox .btn:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.info{
    color:black;
    position: relative;
    width: 72%;
    height: 10%;
    top:70%;
    left:12%;
    padding: 20px;
    background: #ebb208;
    opacity: 0.8;
    border-radius:20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.fb{
    position: relative;
    width:95px;
    height: 70px;
    right:8%; 
    top:35px;;
}
.google{
    position: relative;
    width:50px;
    height: 50px;
    left:20% ;
    top:35px;
}
#logocontainer{
    position: relative;
    top:20%;
    width:6%;
    height:30%;right:1px;
    background: black;
    opacity: 0.8;
    border-radius: 0 25px 25px 0px;
    border: 1px solid whitesmoke;
}
#myBtn{
    position: relative;
    background:  #ffc107;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.2em;
    width:180px;
    height: 40px;
    left:75%;
    bottom:30px;
}
#myBtn:hover
{
    background: rgb(154, 157, 160);
    color: #000;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 70%;
    border-radius: 50px 0 50px 0;
    border:1px solid rgb(15, 15, 15);
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .section-heading{
      color: whitesmoke;
      position: relative;
      top:100px;
      left:26%;
  }
  .container{
      top:340px;
      position: relative;
      width:100%;
      height:640px;
      background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(../Resource/1.jpg);
  }
  #contact
  {
    padding: 100px;
    padding-top: 50px;
    padding-left: 110px;
    max-width: 500px;
    position: relative;
    left:60%;
    bottom:135px;
    background-color: rgba(12, 12, 12, 0.7);
    width:15%;
    height:30%;
    font-family:'Merienda', cursive;
    color: white;
    border-radius: 80px 0 80px 0;
  }
  label{ 
    width:200px;
    display: inline-block;
}
.msgbtn
{
    position: relative;
    background:  #ffc107;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1em;
    width:100px;
    height: 30px;
    left:18%;
    top:15%;
}
.msgbtn:hover
{
    background: rgb(154, 157, 160);
    color: #000;
}
.dest1{
    position: relative;
    width:200px;
    height: 25%;
    left:50px;
    top:10px;
    border-radius:20px;
}
.dest2{
    position: relative;
    width:200px;
    height: 25%;
    left:90px;
    top:10px;
    border-radius:20px;
}
.dest3{
    position: relative;
    width:200px;
    height: 25%;
    right:26.5%;
    top:230px;
    border-radius:20px;
}
.dest4{
    position: relative;
    width:200px;
    height: 25%;
    right:23.5%;
    top:230px;
    border-radius:20px;
}
h3{
    position: relative;
    color: whitesmoke;
    font-size: 1.5em;
    left:42%;
    bottom:35px;
}
h4{
    position: relative;
    color: whitesmoke;
    font-size: 1.5em;
    left:200px;
}
.dest1:hover
{
    transform: scale(1.15);
}
.dest2:hover
{
    transform: scale(1.15);
}
.dest3:hover
{
    transform: scale(1.15);
}
.dest4:hover
{
    transform: scale(1.15);
}
  
    


















  



            











































